html {
  margin-top: 70px;
  margin-right: 6%; 
}

@media only screen and (min-width: 600px) {
  html {
    margin-right: 2%; 
    margin-left: 300px;
  }
}

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: "Lato", sans-serif;
  color: black;
}
